# Análisis sobre el impacto del bitcoin en la macroeconomía de El Salvador

In [ ]:
import pandas as pd
import numpy as np

## Tratamiento de datos

### Deuda pública de El Salvador

In [12]:
deuda_file_path = "Datos_bitcoin/Deuda_SV/Deuda_Pública_Total_Mensual.csv"
df = pd.read_csv(deuda_file_path, encoding='ISO-8859-1', sep=",")

data = {"Deuda total en millones": df.iloc[3, 1:].values}
df_deuda = pd.DataFrame(data, index = df.iloc[2, 1:].values)
df_deuda.index.name = "Fecha"
df_deuda["Deuda total en millones"] = df_deuda["Deuda total en millones"].astype(float)
df_deuda.head()

         Deuda total en millones
Fecha
2019-01                 19115.16
2019-02                 19135.14
2019-03                 19286.60
2019-04                 19273.34
2019-05                 19240.87

#### Diagrama lineal

In [9]:
# codigo para mostrar diagrama lineal

### Índice de precios al consumidor (IPC)

In [13]:
ipc_file_path = "Datos_bitcoin/IPC_SV/Índice_de_Precios_al_Consumidor_(IPC).csv"

df_ipc = pd.read_csv(ipc_file_path, encoding='ISO-8859-1', sep=",", skiprows=4)
df_ipc = df_ipc.iloc[:-2]


data = {}
fechas = pd.date_range(start="2023-01-01", end="2024-10-01", freq="MS")
columnas = [
    "Índice general", 
    "Alimentos y bebidas no alcohólicas", 
    "Bebidas alcohólicas, tabaco", 
    "Prendas de vestir y calzado",
    "Alojamiento, agua, electricidad, gas y otros combustibles"    ,
    "Muebles, artículos para el hogar y para la conservación ordinaria del hogar",
    "Salud",
    "Transporte",
    "Comunicaciones",
    "Recreación y cultura",
    "Educación",
    "Restaurantes y hoteles",
    "Bienes y servicios diversos"
]

for i in range(0, len(df_ipc)):
    data[i] = df_ipc.iloc[i, 1:].values

df_ipc = pd.DataFrame(data)
df_ipc.columns = columnas
df_ipc.index = fechas
df_ipc.index.name = "Fecha"
df_ipc = df_ipc.astype(float)
df_ipc.head()

,Índice general,Alimentos y bebidas no alcohólicas,"Bebidas alcohólicas, tabaco",Prendas de vestir y calzado,"Alojamiento, agua, electricidad, gas y otros combustibles","Muebles, artículos para el hogar y para la conservación ordinaria del hogar",Salud,Transporte,Comunicaciones,Recreación y cultura,Educación,Restaurantes y hoteles,Bienes y servicios diversos
Fecha,,,,,,,,,,,,,
2023-01-01,128.21,149.77,166.64,100.08,143.81,116.86,107.80,119.10,82.27,97.90,116.03,144.87,125.91
2023-02-01,128.97,151.75,166.60,99.71,144.24,115.77,108.34,120.58,81.81,98.39,116.03,145.59,125.93
2023-03-01,129.08,152.10,166.03,99.44,144.70,115.86,108.87,119.52,81.70,98.58,116.03,146.02,126.37
2023-04-01,128.97,151.98,167.05,99.80,144.18,115.73,109.20,118.79,81.70,98.14,116.03,147.05,126.19
2023-05-01,128.88,152.16,168.48,99.58,144.27,114.96,109.47,117.81,81.64,97.81,116.03,147.38,126.37

#### Diagrama lineal

In [14]:
# Código para mostrar el diagrama linea de los datos

### Producto interno bruto (PIB) de El Salvador

In [15]:
#file_path = '/content/drive/MyDrive/Datos bitcoin/Inversion_SV/Posición_de_Inversión_Internacional_a_fin_de_período.csv'
file_path = "Datos_bitcoin/PIB_SV/Producto_Interno_Bruto__Producción_Gasto_e_Ingreso_A_precios_corrientes.csv"


df = pd.read_csv(file_path, encoding='ISO-8859-1', sep=',', skiprows=4)
pib = pd.Series(df.columns[1:])

df_pib = pd.DataFrame(pib, columns=["PIB en millones"])
df_pib.index = [2019, 2020, 2021, 2022, 2023]
df_pib.index.name = "Año"
df_pib["PIB en millones"] = df_pib["PIB en millones"].astype(float)
df_pib = df_pib.drop(index=[2023], axis=0)
df_pib

      PIB en millones
Año
2019         26881.14
2020         24921.19
2021         29043.14
2022         31988.92

#### Diagrama lineal

In [16]:
# Código para mostrar el diagrama lineal

### Inversion extranjera

In [17]:
# Código para mostrar el dataframe de inversión extranjera

#### Diagrama lineal

In [18]:
# Código para mostrar el diagrama lineal de la inversion extranjera

### Precio histórico del Bitcoin

In [19]:
# Código para mostrar el dataframe del precio historico del bitcoin

#### Diagrama lineal

In [20]:
# Código para mostrar el diagrama lineal

### Reserva nacional

In [21]:
# Código para mostrar el dataframe de la reserva nacional

#### Diagrama lineal

In [22]:
# Código para el diagrama lineal

### CSV restantes