# Análisis sobre el impacto del bitcoin en la macroeconomía de El Salvador

In [37]:
import pandas as pd
path_relative = "Datos_bitcoin/Deuda_SV/Deuda_Pública_Total_Mensual.csv"
df = pd.read_csv(path_relative, encoding='ISO-8859-1', sep=",")

data = {"Deuda total": df.iloc[3, 1:].values}
df_deuda = pd.DataFrame(data, index = df.iloc[2, 1:].values)
df_deuda.index.name = "Fecha"
df_deuda

           Deuda total
Fecha
2019-01       19115.16
2019-02       19135.14
2019-03        19286.6
2019-04       19273.34
2019-05       19240.87
...                ...
2024-6(p)     20732.57
2024-7(p)     20758.87
2024-8(p)     20859.08
2024-9(p)     20943.05
2024-10(p)    20836.88

[70 rows x 1 columns]

In [2]:
import pandas as pd

#path_relative = "/content/drive/MyDrive/Datos bitcoin/Deuda_SV/Deuda_Pública_Total_Mensual (1).csv"
path_relative = "Datos_bitcoin/Deuda_SV/Deuda_Pública_Total_Mensual.csv"


df = pd.read_csv(path_relative, encoding='ISO-8859-1', sep=",")

fechas = df.iloc[2, 1:].values
deuda_total = df.iloc[3, 1:].values

df_deuda = pd.DataFrame({'Deuda total': deuda_total}, index=fechas)
df_deuda.index.name = "Fecha"

df_deuda
#print(df_deuda)

           Deuda total
Fecha
2019-01       19115.16
2019-02       19135.14
2019-03        19286.6
2019-04       19273.34
2019-05       19240.87
...                ...
2024-6(p)     20732.57
2024-7(p)     20758.87
2024-8(p)     20859.08
2024-9(p)     20943.05
2024-10(p)    20836.88

[70 rows x 1 columns]

In [ ]:
import pandas as pd

#ipc_file_path = "/content/drive/MyDrive/Datos bitcoin/IPC_SV/Índice_de_Precios_al_Consumidor_(IPC).csv"
ipc_file_path = "Datos_bitcoin/IPC_SV/Índice_de_Precios_al_Consumidor_(IPC).csv"


df_ipc = pd.read_csv(ipc_file_path, encoding='ISO-8859-1', sep=",", skiprows=4)

df_ipc.set_index(' ', inplace=True)

meses = ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
años = ['2023', '2024']

datos_limpios = []
for i, año in enumerate(años):
    for mes in meses:
        columna = mes if i == 0 else f"{mes}.{i}"
        if columna in df_ipc.columns:
            datos_limpios.append(
                df_ipc[[columna]].rename(columns={columna: "Valor"}).assign(Año=año, Mes=mes)
            )

df_limpio = pd.concat(datos_limpios)
df_limpio.reset_index(inplace=True)
df_limpio.rename(columns={' ': 'Concepto'}, inplace=True)

df_limpio = df_limpio[['Concepto', 'Año', 'Mes', 'Valor']]

print(df_limpio.head())

In [ ]:
import pandas as pd

#file_path = '/content/drive/MyDrive/Datos bitcoin/Inversion_SV/Posición_de_Inversión_Internacional_a_fin_de_período.csv'
file_path = "Datos_bitcoin/PIB_SV/Producto_Interno_Bruto__Producción_Gasto_e_Ingreso._A_precios_corrientes.csv"


df = pd.read_csv(file_path, encoding='ISO-8859-1', sep=',', skiprows=4)

df_clean = df.iloc[:3]

df_clean = df_clean.rename(columns={df.columns[0]: 'Concepto'})

df_long = df_clean.melt(id_vars='Concepto', var_name='Período', value_name='Valor')

df_long['Valor'] = pd.to_numeric(df_long['Valor'], errors='coerce')
#print("Valores nulos por columna:\n", df_long.isnull().sum())

#df_long = df_long.dropna(subset=['Valor'])
df_long.head()
#print(df_long.head())

In [ ]:
import pandas as pd

file_path = '/content/drive/MyDrive/Datos bitcoin/PIB_SV/Producto_Interno_Bruto__Producción,_Gasto_e_Ingreso._A_precios_corrientes.csv'

df = pd.read_csv(file_path, encoding='ISO-8859-1', sep=';', skiprows=5)

df.columns = ['Concepto', '2018', '2019', '2020', '2021', '2022', '2023']

df = df.dropna(how='all', subset=['2018', '2019', '2020', '2021', '2022', '2023'])

df.iloc[:, 1:] = df.iloc[:, 1:].apply(pd.to_numeric, errors='coerce')

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
print(df)